*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #fff;
    color: #444;
}

h1,
p {
    margin: 0 0 1em 0;
}

.wrapper {
    max-width: 940px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* duas colunas: sidebar + conteúdo */
    grid-gap: 10px;
}

/* todos os filhos do grid */
.wrapper>* {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

/* header e footer ocupam as duas colunas */
.header,
.footer {
    grid-column: 1 / -1;
}